// FONTS

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: 'TF2 Build';
  src: url('/fonts/TF2Build.ttf') format('truetype');
}

$ubuntu: 'Ubuntu', sans-serif;
$inter: 'Inter', sans-serif;
$tf2-build: 'TF2 Build', sans-serif;