---
---

<header>

  <a href="/" class="left-align">
  <img
    src="/images/vftf/transparent/logo.png"
    class="logo"
    alt="VFTF">
  </a>

  <nav class="right-align">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/servers">Server List</a>
  </nav>

</header>